build/

data/processed/single_image_dataset.csv
data/processed/final_dataset.csv

# jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

__pycache__/

**/*~/
*~
*.~
**/*.~/
